
.categories {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .card {
    background: #EEF5F3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
  }
  /* .card button:hover {
    color: #EEF5F3;
    background: #3CC6A5;
    box-shadow: 0px 0px 6px 2px #8b8b8b;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #3CC6A5;
    transform: scale(1.05);
  } */
  
  .icon {
    font-size: 40px;
    color: #3CC6A5;
  }
  
  .text p {
    margin: 5px 0;
    font-weight: bold;
  }
  
  @media (max-width: 1520px) {
    .categories {
      min-width: 100%;
      padding: 50px 20px;
    }
  }
  @media (max-width: 714px) {
    .categories {
      align-items: center;
    }
    .categories .banner {
      justify-content: center;
    }
  }
  @media (max-width: 350px) {
    .categories .banner .card {
      width: 100%;
    }
  }
  
  .companies {
   text-align: center;
    padding: 20px;
  }
  .companies .container {
    min-width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .companies .container .banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
  }
  @media (max-width: 1520px) {
    .companies .container {
      min-width: 100%;
      padding: 0 20px;
    }
  }
  @media (max-width: 1100px) {
    .companies .container .banner {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
    .companies .container .banner .card {
      width: 420px;
    }
  }
  @media (max-width: 470px) {
    .companies .container .banner .card {
      width: 100%;
    }
  }

  .details {
   text-align: center;
    padding: 20px;
    border-radius: 8px;
  }
  .details .container {
    min-width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .details .container .banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
  }
  @media (max-width: 1520px) {
    .details .container {
      min-width: 100%;
      padding: 0 20px;
    }
  }
  @media (max-width: 1100px) {
    .details .container .banner {
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
    .details .container .banner .card {
      width: 420px;
    }
  }
  @media (max-width: 470px) {
    .details .container .banner .card {
      width: 100%;
    }
  }



  .card {
    background: #EEF5F3;
    padding: 20px;
    border-radius:10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0px 0px 6px 2px #8b8b8b;
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .card .icon {
    font-size: 40px;
    color: #3CC6A5;
    margin-bottom: 10px;
  }
  
  .card .content p:first-child {
    font-weight: bold;
    font-size: 22px;
  }
  
  .card .content p:nth-child(2) {
    font-size: 16px;
    color: gray;
    margin-top: 5px;
  }
  @media (max-width: 950px) {
    .heroSection .details {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-evenly;
    }
    .heroSection .details .card {
      width: 300px;
      flex: none;
    }
  }
  @media (max-width: 670px) {
    .heroSection .details .card {
      max-width: 350px;
      min-width: 350px;
    }
  }
  @media (max-width: 400px) {
    .heroSection .details .card {
      min-width: 100%;
      max-width: 100%;
    }
  }
  @media (max-width: 1520px) {
    .heroSection .details {
      min-width: 100%;
      padding: 20px;
    }
  }